<h1>New Game</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li class="letter"><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word you can find?</p>

<form action="/score" method="post" class="word-form">
  <input type="text" name="word" class="text-input">
  <input type="submit" value="Ask!" class="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
